//.advantages {
//  padding-top: 120px;
//  padding-bottom: 114px;
//  background-color: $color-ghost-white;
//
//  @include vp-1199 {
//    padding-top: 102px;
//    padding-bottom: 91px;
//  }
//
//  @include vp-767 {
//    padding-top: 70px;
//    padding-bottom: 65px;
//  }
//}
//
//.advantages h2 {
//  font-family: $ff-bebasneue;
//  margin: 0;
//  font-size: 49px;
//  line-height: 49px;
//  letter-spacing: 0.03em;
//  margin-bottom: 61px;
//  text-align: center;
//
//  @include vp-1199 {
//    font-size: 42px;
//    line-height: 42px;
//    margin-bottom: 42px;
//  }
//
//  @include vp-767 {
//    font-size: 32px;
//    line-height: 32px;
//    margin-bottom: 45px;
//  }
//}
//
//.advantages ul {
//  list-style: none;
//  margin: 0 auto;
//  padding: 0;
//  display: grid;
//  grid-template-columns: 32.9% 240px 32.9%;
//  grid-template-rows: repeat(2, auto);
//  column-gap: 60px;
//  justify-content: center;
//  width: 89.66%;
//
//  @include vp-1199 {
//    grid-template-columns: 44.3% 48%;
//    grid-template-rows: repeat(3, auto);
//    row-gap: 43px;
//    column-gap: 54px;
//    width: 100%;
//  }
//
//  @include vp-767 {
//    grid-template-columns: 1fr;
//    grid-template-rows: auto auto 239px auto auto;
//    row-gap: 38px;
//    column-gap: 0;
//  }
//}
//
//.advantages__item {
//  display: flex;
//  align-items: flex-start;
//
//  &:nth-child(5n + 1),
//  &:nth-child(5n + 2) {
//    border-bottom: 2px solid $color-crimson-transparent2;
//  }
//
//  @include vp-1199 {
//    &:nth-child(5n + 1),
//    &:nth-child(5n + 2) {
//      border-bottom: none;
//    }
//  }
//
//  @include vp-767 {
//    flex-direction: column;
//    align-items: center;
//    text-align: center;
//  }
//}
//
//.advantages__item:nth-child(5n + 1) {
//  grid-column: 1/2;
//  grid-row: 1/2;
//  padding-left: 28px;
//  padding-bottom: 76px;
//
//  @include vp-1199 {
//    padding-bottom: 0;
//    padding-left: 0;
//    max-width: 301px;
//    justify-self: center;
//  }
//
//  @include vp-767 {
//    max-width: 219px;
//  }
//}
//
//.advantages__item:nth-child(5n + 2) {
//  grid-column: 3/4;
//  grid-row: 1/2;
//  padding-bottom: 76px;
//
//  @include vp-1199 {
//    grid-column: 2/3;
//    padding-bottom: 0;
//    max-width: 323px;
//    justify-self: center;
//  }
//
//  @include vp-767 {
//    grid-column: 1/-1;
//    grid-row: 2/3;
//    max-width: 290px;
//  }
//}
//
//.advantages__item:nth-child(5n + 3) {
//  grid-column: 2/3;
//  grid-row: 1/-1;
//  background-color: $color-resolution-blue;
//  color: $color-default-white;
//  flex-direction: column;
//  min-height: 307px;
//  margin-top: 7px;
//  align-self: start;
//  padding: 47px 19px 34px 19px;
//
//  @include vp-1199 {
//    grid-column: 1/-1;
//    grid-row: 2/3;
//    min-width: 442px;
//    min-height: 239px;
//    margin: 0 auto;
//    padding-top: 34px;
//  }
//
//  @include vp-767 {
//    grid-row: 3/4;
//    max-width: 290px;
//    margin-top: 7px;
//    padding-top: 40px;
//  }
//}
//
//.advantages__item:nth-child(5n + 4) {
//  grid-column: 1/2;
//  grid-row: 2/3;
//  padding-top: 74px;
//  padding-left: 22px;
//
//  @include vp-1199 {
//    grid-row: 3/4;
//    padding-top: 0;
//    padding-left: 0;
//    max-width: 301px;
//    justify-self: center;
//  }
//
//  @include vp-767 {
//    grid-row: 4/5;
//    max-width: 228px;
//    padding-top: 12px;
//  }
//}
//
//.advantages__item:nth-child(5n + 5) {
//  grid-column: 3/4;
//  grid-row: 2/3;
//  padding-top: 73px;
//
//  @include vp-1199 {
//    grid-column: 2/3;
//    grid-row: 3/4;
//    padding-top: 0;
//    max-width: 323px;
//    justify-self: center;
//  }
//
//  @include vp-767 {
//    grid-column: 1/-1;
//    grid-row: 5/6;
//    max-width: 290px;
//  }
//}
//
//.advantages__item p {
//  margin: 0;
//  padding: 0;
//  font-weight: 700;
//  font-size: 71px;
//  line-height: 63px;
//  background: linear-gradient(127.61deg, $color-crimson 0%, $color-cobalt 45.58%);
//  -webkit-text-fill-color: transparent;
//  background-clip: text;
//  margin-right: 30px;
//
//  @include vp-1199 {
//    font-size: 58px;
//    line-height: 56px;
//  }
//
//  @include vp-767 {
//    margin-right: 0;
//    line-height: 53px;
//  }
//}
//
//.advantages__item span {
//  font-weight: 400;
//  font-size: 14px;
//  line-height: 21px;
//  color: $color-persian-blue;
//  display: block;
//}
//
//.advantages__info-wrapper {
//  @include vp-767 {
//    margin-top: 6px;
//  }
//}
//
//.advantages__item h4 {
//  margin: 0;
//  margin-bottom: 5px;
//  font-weight: 700;
//  font-size: 22px;
//  line-height: 33px;
//  color: $color-default-sapphire;
//
//  @include vp-1199 {
//    font-size: 20px;
//    line-height: 30px;
//    margin-bottom: 0;
//  }
//}
//
//.advantages__info-wrapper p {
//  margin: 0;
//  padding: 0;
//  font-weight: 300;
//  font-size: 16px;
//  line-height: 22px;
//  color: $color-default-sapphire;
//  -webkit-text-fill-color: $color-default-sapphire;
//  background: none;
//
//  @include vp-1199 {
//    font-size: 16px;
//    line-height: 22px;
//  }
//
//  @include vp-767 {
//    font-size: 16px;
//    line-height: 22px;
//  }
//}
//
//.advantages__item--center h4 {
//  font-weight: 700;
//  font-size: 74px;
//  line-height: 84px;
//  color: $color-default-white;
//  align-self: center;
//  text-align: center;
//  margin-bottom: 30px;
//
//  @include vp-1199 {
//    font-size: 74px;
//    line-height: 71px;
//    margin-bottom: 15px;
//  }
//
//  @include vp-767 {
//    line-height: 67px;
//    margin-bottom: 0;
//  }
//}
//
//.advantages__item--center span {
//  color: $color-default-white;
//  font-weight: 700;
//  font-size: 26px;
//  line-height: 39px;
//  text-align: center;
//
//  @include vp-1199 {
//    font-size: 22px;
//    line-height: 33px;
//  }
//}
//
//.advantages__item--center p {
//  color: $color-default-white;
//  font-weight: 400;
//  font-size: 16px;
//  line-height: 24px;
//  -webkit-text-fill-color: $color-default-white;
//  text-align: center;
//  margin-right: 0;
//
//  @include vp-1199 {
//    font-size: 16px;
//    line-height: 24px;
//    width: 60%;
//    text-align: center;
//    align-self: center;
//  }
//
//  @include vp-767 {
//    font-size: 16px;
//    line-height: 24px;
//    margin-top: 7px;
//  }
//}
