.contacts {
  width: 50%;

  @include vp-1199 {
    width: 100%;
  }
}

.contacts__container {
  padding: 70px 79px 40px 120px;

  @include vp-1199 {
    padding: 70px 79px 40px 133px;
    max-width: 768px;
    width: 768px;
  }

  @include vp-767 {
    padding: 70px 15px 40px 15px;
    max-width: 600px;
    width: 600px;
    margin-left: 0;
  }

  @include vp-479 {
    max-width: none;
    width: auto;
  }
}

.contacts h2 {
  margin: 0;
  font-family: $ff-bebasneue;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  color: $color-default-sapphire;
  margin-bottom: 38px;

  @include vp-1199 {
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 32px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 34px;
  }
}

.contacts address {
  column-count: 2;
  column-gap: 96px;
  font-style: normal;
  position: relative;

  &::before {
    content: "";
    width: 1px;
    height: 102px;
    position: absolute;
    left: 48.5%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-light-slate-grey;
  }

  @include vp-1199 {
    column-gap: 72px;

    &::before {
      left: 48%;
      height: 129px;
      top: 43.4%;
    }
  }

  @include vp-479 {
    column-count: 1;

    &::before {
      display: none;
    }
  }
}

.contacts p {
  margin: 0;
  padding: 0;
  margin-bottom: 18px;
  padding-left: 4px;
  font-weight: 700;

  &:nth-child(2n) {
    margin-top: -3px;
  }

  @include vp-1199 {
    font-size: 20px;
    line-height: 30px;
    padding-left: 0;
  }
}

.contacts a {
  display: block;
  margin-bottom: 21px;
  color: $color-default-sapphire;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-top: 3px;

  @include vp-1199 {
    font-size: 18px;
    line-height: 27px;
    margin-top: 6px;
  }

  @include vp-767 {
    margin-bottom: 21px;
  }

  &:hover {
    opacity: 0.8;
  }
}
