//.form {
//  width: 100%;
//  max-width: 410px;
//  display: flex;
//  flex-wrap: wrap;
//  justify-content: space-between;
//
//  @include vp-1199 {
//    max-width: 472px;
//  }
//
//  @include vp-767 {
//    width: 100%;
//    max-width: none;
//    flex-wrap: wrap;
//  }
//}
//
//.form .form__group {
//  width: 46.4%;
//  margin-bottom: 28px;
//
//  @include vp-1199 {
//    width: 43.7%;
//  }
//
//  @include vp-767 {
//    width: 100%;
//  }
//}
//
//.form input {
//  padding: 10px 14px 6px 0;
//  background-color: transparent;
//  color: $color-default-white;
//  border: none;
//  border-bottom: 1px solid $color-light-slate-grey;
//  font-weight: 400;
//  font-size: 14px;
//  line-height: 16px;
//  width: 100%;
//  margin-right: 30px;
//}
//
//.form input::placeholder {
//  color: $color-default-white;
//}
//
//.form input:hover,
//.form input:focus {
//  border-color: $color-default-white;
//}
//
//.form input:hover::placeholder {
//  opacity: 0.8;
//}
//
//.form input:invalid {
//  box-shadow: inset 0 0 0 1000px $color-default-sapphire;
//  -webkit-text-fill-color: $color-default-white;
//}
//
//input:-webkit-autofill,
//input:-webkit-autofill:hover,
//input:-webkit-autofill:focus,
//input:-webkit-autofill:active {
//  transition: background-color 5000s ease-in-out 0s;
//  color: $color-default-white;
//  -webkit-text-fill-color: $color-default-white;
//}
//
//.form button {
//  font-size: 14px;
//  line-height: 16px;
//  background-color: transparent;
//  width: 100%;
//  margin: 0;
//  padding-top: 17px;
//  padding-bottom: 16px;
//  align-items: center;
//  justify-content: center;
//  border: 3px solid;
//
//  @include vp-767 {
//    margin-top: 9px;
//  }
//}
