.page-main__wrapper {
  border-top: 1px solid $color-light-slate-grey;
  background: linear-gradient(to right, $color-default-sapphire 50%, $color-default-white 50%);

  @include vp-1199 {
    border-top: none;
    background: none;
  }
}

.page-main__container {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  min-height: 337px;

  @include vp-1199 {
    flex-direction: column;
    max-width: none;
    margin: 0;
  }

  @include vp-767 {
    min-width: 320px;
  }
}
