.page-footer {
  padding-top: 32px;
  padding-bottom: 41px;
  //background-color: $color-black-russian;
  color: $color-default-white;

  @include vp-1023 {
    padding-top: 36px;
    padding-bottom: 45px;
  }

  @include vp-767 {
    padding-top: 51px;
    padding-bottom: 40px;
  }
}

.page-footer__container {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;

  @include vp-479 {
    flex-direction: column;
  }
}

.page-footer__column-wrapper {
  //margin: 0;
  //margin-top: 14px;
  //padding: 0;
  //list-style: none;
  display: flex;
  //align-items: center;
  width: 71.9%;
  flex-wrap: nowrap;
  //flex-shrink: 0;
  justify-content: space-between;
  align-items: start;
  margin-top: 13px;

  @include vp-1199 {
    width: 78.6%;
    margin-right: 20px;
    margin-top: 15px;
  }

  @include vp-767 {
    column-count: 2;
    display: block;
    margin-top: 0;
    column-gap: 76px;
    width: auto;
    margin-right: 46px;
  }
}

.page-footer__nav-list {
  margin: 0;
  //margin-top: 14px;
  //margin-left: auto;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  //width: 75.9%;
  flex-wrap: wrap;
  //flex-shrink: 0;

  @include vp-1199 {
    //width: 78.6%;
    //margin-right: 20px;
  }

  @include vp-767 {
    //display: block;
    //margin-top: 0;
    //column-gap: 76px;
    //width: auto;
    flex-direction: column;
    align-items: start;
  }
}

.page-footer__logo {
  margin-right: 40px;
  //margin-top: 5px;
  width: 89px;
  height: 20px;
  display: flex;
  flex-shrink: 0;

  &:hover {
    opacity: 1;
  }

  @include vp-1199 {
    margin-right: 182px;
    //margin-top: -8px;
    width: 82px;
    height: 18px;
  }

  @include vp-1023 {
    margin-right: 62px;
  }

  @include vp-767 {
    margin-bottom: 15px;
    margin-right: 0;
    margin-top: 0;
    width: 68px;
    height: 24px;
  }
}

.page-footer__logo img {
  width: 89px;
  height: 20px;

  @include vp-1199 {
    width: 82px;
    height: 18px;
  }

  @include vp-767 {
    width: 68px;
    height: 15px;
  }
}

.page-footer li {
  margin-right: 40px;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  @include vp-1199 {
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }

  @include vp-767 {
    //margin-right: 4px;
    margin-right: 0;
    margin-bottom: 15px;
  }
}

.page-footer__nav-list a {
  //color: $color-default-white;
  font-size: 14px;
  line-height: 16px;
  display: inline-block;
  vertical-align: top;

  @include vp-767 {
    font-size: 16px;
    line-height: 19px;
  }
}
