.page-body {
  //background-size: cover;
  background-repeat: no-repeat;

  @media (min-width: 768px) {
    background-image: url('../img/content/back@1x.png');

    @include retina {
      background-image: url('../img/content/back@2x.png');
    }
  }

  @include vp-767 {
    background-image: url("../img/content/back-mobile@1x.png");
    background-size: cover;
    //background-position: center -44vw;

    @include retina {
      background-image: url('../img/content/back-mobile@2x.png');
    }
  }
}
