.social {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-right: -11px;

  @include vp-767 {
    margin-top: -10px;
    min-width: 143px;
  }

  @include vp-479 {
    margin-top: 7px;
  }
}

.social li {
  margin-left: 13px;
  margin-top: 10px;
  margin-right: 0;

  @include vp-1199 {
    margin-left: 8px;
    margin-right: 0;
  }

  @include vp-767 {
    margin-right: 28px;
    margin-left: 0;
  }
}

.social a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 25px;

  &:hover,
  &:focus,
  &:active {
    opacity: 0.8;
  }
}

.social img {
  max-width: 24px;
  max-height: 24px;

  @include vp-767 {
    max-width: 32px;
    max-height: 27px;
  }
}

.social__item--vk img {
  @include vp-767 {
    width: 32px;
    height: 17px;
  }
}

.social__item--insta img {
  @include vp-767 {
    width: 27px;
    height: 27px;
  }
}

.social__item--fb img {
  @include vp-767 {
    width: 14px;
    height: 27px;
  }
}
