.video {
  width: 364px;
  height: 228px;
  position: relative;
  background-color: $color-black;

  &::before {
    content: "";
    background-color: $color-dark-cerulean-transparent5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 3;
  }

  @include vp-1199 {
    width: 39.2%;
    height: min-content;
  }

  @include vp-767 {
    width: 100%;
    min-height: 167px;
  }
}

.video a {
  display: block;
}

.video img {
  width: 100%;
  object-fit: contain;
  background-color: $color-spindle;
}

.video button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  background: linear-gradient(44.89deg, #003d85 25.38%, #b80027 74.89%);
  border-radius: 50%;
  width: 72px;
  height: 72px;
  cursor: pointer;
  border: none;

  @include vp-1199 {
    width: 52px;
    height: 52px;
  }

  &::before {
    content: "";
    background-image: url("../img/svg/icon-play.svg");
    background-repeat: no-repeat;
    background-size: 17px 17px;
    background-position: center center;
    z-index: 6;
    width: 17px;
    height: 17px;
    position: absolute;
    display: block;
    top: 50%;
    left: 54%;
    transform: translate(-50%, -50%);

    @include vp-1199 {
      width: 12px;
      height: 12px;
      background-size: 12px 12px;
      left: 51%;
    }
  }

  &::after {
    content: "";
    background-image: url("../img/svg/icon-ellipse.svg");
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include vp-1199 {
      width: 73px;
      height: 73px;
    }
  }

  &:hover {
    transform: scale(1.1) translate(-50%, -50%);
  }

  &:active {
    transform: scale(0.8) translate(-50%, -50%);
    opacity: 0.8;
  }
}

.video--enabled {
  display: flex;
  justify-content: center;
}

.video--enabled button {
  display: block;
}

.video--enabled::before {
  display: none;
}
